{% extends "base.html" %}

{% block content %}
    <div class="jumbotron">
        <h1>What are you up to?</h1>
        <br>
        <form action="" method="POST" role="form" class="form">
            {{ form.hidden_tag() }}
            <div class="form-group  required">
                <label class="control-label">Post title</label>
                {{ form.title(class="form-control",required="required",type="text",value="",placeholder="Enter title") }}
            </div>
            <div class="form-group  required">
                <label class="control-label">Post text</label>
                {{ form.text(class="form-control",required="required",value="",placeholder="Enter post") }}
            </div>
            {{ form.submit(class="btn btn-success")}}
        </form>
    </div>
{% endblock %}